<% if flash[:id_notice] %>
<div class="notice"><%= flash[:id_notice] %></div>
  <% end %>
<h6>Welcome to Openstack- swift storage..!</h6>

<% if(@containers["count"].to_i>0 %>
  <%(@containers["count"].to_i).each do |x|%>
    <div class="row">
  
        <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@containers["list"][x]["name"]%></h3>
        </div>  
        <div class="panel-body">
          Panel content
        </div>
    </div>
  <%end%> 
  
</div>
  <%end%>
<%else%>

<%end%>

<%= @containers%>